PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres

AIVEN_DATABASE_URL=postgres://avnadmin:

DATABASE_URL="postgres://user:pass@localhost:5432/uptime_db"
JWT_SECRET="90de4a17e0dd841c5b7fdef2bd7b3af77c0ece10a87a5172cbde7555e9bff695"