PORT=3001
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=mydb
DB_USER=postgres
DB_PASSWORD=postgres

SUPABASE_URL=https://eztregrbfufjzrvlvbht.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_XaccGNHmRIuDsbNTLiAr2Q_O_RJZ6Hn

JWT_SECRET=abcd